<h1> Tasks</h1>
<% @tasks.each do |task| %>
  <%= link_to task.title, task_path(task) %>
    <% if task.completed %>

    <p> <%= icon('far', 'check-square') %> </p>
    <% else %>
    <p> <%= icon('far', 'square') %> </p>
    <% end %>


  <%= link_to "Delete", task_path(task), method: :delete,  data: { confirm: "Are you sure?" } %>
<% end %>

